.galleryimagepost__container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
  overflow: hidden;
}

.galleryimagepost__imagecontainer {
  max-height: 78%;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}

.galleryimagepost__image {
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
}

.galleryimagepost__captioncontainer {
  align-content: center;
  height: 18%;
  text-decoration: none;
}

.galleryimagepost__caption {
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  color: black;
  padding: 0px
}

.galleryimagepost__date {
  color: lightslategray;
  font-size: .8em;
  font-weight: 100;
  text-align: center;
}

a {
  text-decoration: none;
}
