.galleryimagepost__container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
}

.galleryimagepost__imagecontainer {
  border: 1px solid black;
  max-height: 80%;
  overflow: hidden;
  display: block;
  border-radius: 5px
}

.galleryimagepost__image {
  width: 100%
}

.galleryimagepost__captioncontainer {
  align-content: center;
}

.galleryimagepost__caption {
  text-align: center;
  max-height: 20%;
  overflow: hidden;
}