.postviewercontainer__container {
  margin: 10px;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.25fr 3fr 0.25fr;
}

.gallerypostviewer__container {
  height: 100vh;
  grid-column-start: 2;
}
