.editcategory__container {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
}

.editcategory__form {
  margin-top: 50px;
  grid-column-start: 2
}

.editcategory__banner {
  color: rgb(24, 82, 118)
}

input.editcategory__category {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1.2em
}

input.editcategory__submit, button.editcategory__delete {
  background-color: lightblue;
  border: none;
  color: black;
  font-size: 1.2em;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button.editcategory__delete {
  background-color: red
}
