.image__container {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
}

.image__form {
  margin-top: 50px;
  grid-column-start: 2
}

.image__banner {
  color: rgb(24, 82, 118)
}

input.image__submit {
  background-color: lightblue;
  border: none;
  color: black;
  font-size: 1.2em;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
}

input.image__caption {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1.2em
}

.image__dropzone {
  width: 100%;
  height: 200px;
  border: 1px dashed black;
}